@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container-main {
    margin-top: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 2rem;

}

.container-main-content {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.container-main-content-title {
    color: var(--pink-red);
    text-transform: uppercase;
    text-align: center;
}

.container-main-content-text {
    margin-top: 1rem;
    color: var(--white);
    text-align: justify;
}

.container-main-image {
    width: 70%;
    border-radius: 2rem;
}


.transparent {
    display: none;
}

@media screen and (min-width: 1024px) {
    .off-desktop {
        display: none;
    }

    .transparent {
        display: block;
    }

    main{
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1% 8%;
        gap: 20px;
    }
   
    .container-main-image{
        width: 30%;
    }


}