.carrousel{
    background-color: var(--bkg-color);
}

.carrousel-title{
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    align-items: center;
    color: var(--pink-red);

    font-size: 18px;

    padding: 2em 0 1em 0;

    background-color: var(--white);
}

.container-carrousel{
    margin-top: 2rem;
}
.swiper {
    width: 100%;
  }

.swiper-pagination{
    position: initial;
    margin: .5em 0;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (min-width: 1024px){
    .swiper-pagination{
        margin: 2em 0 3em 0;
    }

    .swiper{
        width: 60%;
    }

    .swiper-button-prev, .swiper-button-next{
        display: block;
        top: 65%;
    }

    .swiper-slide img{
        width: 50%;
    }
}