.carrousel{
    width: 90%;
    margin: 0 auto;
}

.swiper {
    width: 100%;
  }

.swiper-pagination{
    position: initial;
    margin: .5em 0;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}